doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='roinflames & mvelilla')
    title DM-FASIMC, Dispensario Medicinal de Cannabis
    // Bootstrap Core CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    // Theme CSS
    link(href='stylesheets/agency.css', rel='stylesheet')
    // Custom Fonts
    link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
  body
  // Navbar theme
  nav#mainNav.navbar.navbar-default.navbar-custom.navbar-fixed-top
    .container-fluid
      // Brand and toggle get grouped for better mobile display
      .navbar-header.page-scroll
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          |  Menu
          i.fa.fa-bars
        a.navbar-brand.page-scroll(href='/') DM-FASIMC
      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right        
          li
            a(href='/login')
              span.glyphicon.glyphicon-log-in
              |  INGRESA
          li
            a(href='/')
              span.glyphicon.glyphicon-log-in
              |  Volver             
  section.bg-light-gray
    .container
      .col-sm-6.col-sm-offset-3
        h1
          span.fa.fa-sign-in
          |  Registro de usuarios
        if (message.length > 0) 
          .alert.alert-danger #{message}
        // LOGIN FORM
        form(action='/signup', method='post')
          .form-group
            label Email
            input.form-control(type='text', name='email')
          .form-group
            label Password
            input.form-control(type='password', name='password')
          button.btn.btn-warning.btn-lg(type='submit') Registrar
        hr
        p
          | ¿Ya tienes una cuenta? 
          a(href='/login') Login
        p
          | Or go 
          a(href='/') home
          | .      
