<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="roinflames &amp; mvelilla">
    <title>DM-FASIMC, Dispensario Medicinal de Cannabis</title>
    <!-- Bootstrap Core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Theme CSS-->
    <link href="stylesheets/agency.css" rel="stylesheet">
    <!-- Custom Fonts-->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
  </head>
</html>
<body id="page-top" class="index">
  <!--Navbar theme-->
  <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display-->
      <div class="navbar-header page-scroll">
        <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle"><span class="sr-only">Toggle navigation</span> Menu<i class="fa fa-bars"></i></button><a href="/profile" class="navbar-brand page-scroll">DM-FASIMC</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling-->
      <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="hidden"><a href="#page-top"></a></li>
          <li><a href="/stock" class="page-scroll">STOCK</a></li>
          <li><a href="https://reservahora.setmore.com/" class="page-scroll">RESERVA TU HORA</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span>DESCONÉCTATE</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Team Section-->
  <section id="testimonies" class="bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="container">
              <h1>CATÁLOGO</h1>
            <table id="catalogo" class="display" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Clasificación</th>
                        <th>THC</th>
                        <th>CBD</th>
                        <th>CBN</th>
                        <th>CNC</th>
                        <th>STOCK</th>
                        <th>Ficha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Índica</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>100</td>
                        <td><a href="#">Mostrar</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Índica</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>100</td>
                        <td><a href="#">Mostrar</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Índica</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>100</td>
                        <td><a href="#">Mostrar</a></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Índica</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>100</td>
                        <td><a href="#">Mostrar</a></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Índica</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>100</td>
                        <td><a href="#">Mostrar</a></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Índica</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>100</td>
                        <td><a href="#">Mostrar</a></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Índica</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>100</td>
                        <td><a href="#">Mostrar</a></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Sativa</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>100</td>
                        <td><a href="#">Mostrar</a></td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Sativa</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>100</td>
                        <td><a href="#">Mostrar</a></td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Sativa</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>100</td>
                        <td><a href="#">Mostrar</a></td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Sativa</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>100</td>
                        <td><a href="#">Mostrar</a></td>

                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Sativa</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>100</td>
                        <td><a href="#">Mostrar</a></td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Sativa</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>100</td>
                        <td><a href="#">Mostrar</a></td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Sativa</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>100</td>
                        <td><a href="#">Mostrar</a></td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>Híbrida</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>100</td>
                        <td><a href="#">Mostrar</a></td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>Híbrida</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>100</td>
                        <td><a href="#">Mostrar</a></td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>Híbrida</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>100</td>
                        <td><a href="#">Mostrar</a></td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Híbrida</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>100</td>
                        <td><a href="#">Mostrar</a></td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>Híbrida</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>100</td>
                        <td><a href="#">Mostrar</a></td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>Híbrida</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>100</td>
                        <td><a href="#">Mostrar</a></td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>Híbrida</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>%</td>
                        <td>100</td>
                        <td><a href="#">Mostrar</a></td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p class="copyright">DM FASIMC - © 2017 Copy Left. Debes tener al menos 18 años para usar este sitio.</p>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/FASIMC/?ref=br_rs"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="col-md-4"><span>DIRECCION: CATEDRAL 1009 OF 601<br> ATENCION: 10:00 A 18:00 HRS
                                  TEL: +56999467416<br> Correo: DM@FASIMC.ORG
                                  A PASOS DEL METRO PLAZA DE ARMAS</span></div>
      </div>
    </div>
  </footer>
  <!-- Bootstrap Core JavaScript-->
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <!-- jQuery-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <!-- Plugin JavaScript-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>
  <!-- Contact Form JavaScript-->
  <script src="javascripts/jqBootstrapValidation.js"></script>
  <script src="javascripts/contact_me.js"></script>
  <!-- Theme JavaScript-->
  <script src="javascripts/agency.js"></script>
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
      $('#catalogo').DataTable( {
          "decimal":        "",
          "emptyTable":     "Lo sentimos, no existen productos para cargar.",
          "info":           "Mostrando _START_ a _END_ de _TOTAL_ productos",
          "infoEmpty":      "Mostrando 0 a 0 de 0 productos",
          "infoFiltered":   "(Filtrado desde _MAX_ total de productos)",
          "language": {
              "search":         "Buscar:"
          },
          "paginate": {
              "first":      "Primero",
              "last":       "Último",
              "next":       "Siguiente",
              "previous":   "Anterior"
          },
          columnDefs: [ {
              targets: [ 0 ],
              orderData: [ 0, 1 ]
          }, {
              targets: [ 1 ],
              orderData: [ 1, 0 ]
          }, {
              targets: [ 4 ],
              orderData: [ 4, 0 ]
          } ]
      } );
  } );
  </script>
</body>
